ipykernel
pandas==2.3.3
numpy==1.26.4
matplotlib==3.10.8
plotly
seaborn==0.13.2
scikit-learn==1.7.1

pymongo
from_root
dill
certifi
PyYAML

boto3
mypy-boto3-s3
botocore

fastapi
python-multipart
uvicorn
jinja2

imbalanced-learn

joblib
python-dotenv

-e .